@import "tailwindcss";

:root {
  --background: #181a1b;
  --foreground: #d1bfc2;
  --secondary: #232627;
  --accent: #3d4446;
  --border: #3c3833;
  --hero-text: #ffffff;
  --title-text: #ffffff;

  --primary: #b53e15;
  --hover-primary: #c54318;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-title-text: var(--title-text);
  --color-border: var(--border);
  --color-hover-primary: var(--hover-primary);

  --font-Outfit: var(--font-outfit);
  --font-Merriweather: var(--font-merriweather);
}

@layer base {
  body {
    @apply bg-background font-Merriweather text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  nav,
  label,
  th,
  aside {
    @apply font-Outfit;
  }

  h1,
  h2,
  h3 {
    color: var(--title-text);
  }

  button {
    @apply cursor-pointer transition active:scale-95;
  }

  option {
    @apply bg-[var(--secondary)];
  }

  td,
  th {
    @apply px-4 py-3;
  }
}

@layer components {
  .btn-primary {
    @apply rounded font-medium text-white;
    background: var(--primary);
  }

  @layer utilities {
    .cta-btn {
      @apply font-Outfit text-title-text duration-200;
    }

    .link-btn {
      @apply active:scale-95 transition;
    }
  }
}
